* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background: #000000;
    width: 1920px;
    height: 1080px;
    margin: 0;
    font-family: "Helvetica Neue";
    font-weight: bolder;
    overflow: hidden;
}

div.main {
    background: url('../img/33740 i-motion_BG.png');
    width: 100%;
    height: 100%;
}

div#video-container {
    top: 177px;
    left: 103px;
    width: 750px;
    height: 425px;
    position: absolute;
}

div#track-info {
    top: 632px;
    left: 88px;
    width: 784px;
    height: 30px;
    position: absolute;
}

div#track-info div {
    display: inline-block;
    font-size: 20px;
    color: #fff;
    height: 30px;
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

div#track-info div#trackname {
    left: 15px;
    width: 377px;
    margin-left: 10px;
}

div#track-info div#artist {
    position: absolute;
    right: 0;
    width: 377px;
    text-align: right;
    margin-right: 10px;
}

div#waveform {
    top: 677px;
    left: 90px;
    width: 780px;
    height: 60px;
    position: absolute;
    background: url('../img/waveform-back.png') repeat-x;
    overflow: hidden;
}

div#waveform .slider {
    /*width: 32767px;*/
    width: 5000px;
    height: 55px;
    position: absolute;
    top: 0;
    left: 0;
}

div#waveform-front {
    top: 676px;
    left: 90px;
    width: 780px;
    height: 59px;
    position: absolute;
    background: url('../img/waveform-front.png') repeat-x;
    overflow: hidden;
    z-index: 2;
}

div#add-to-playlist {
    top: 890px;
    left: 125px;
    width: 130px;
    height: 130px;
    position: absolute;
    background: url('../img/btn_Go_off.png');
}

div#add-to-playlist.on {
    background: url('../img/btn_Go_on.png');
}

div#playlist-tracks {
    top: 840px;
    left: 330px;
    width: 541px;
    height: 180px;
    position: absolute;
    text-indent: -9999px;
    text-align: center;
    font-size: 30px;
    color: #09FCFA;
    padding-top: 0px;
}

div#playlist-tracks.empty {
    text-indent: 0px;
    padding-top: 30px;
}

div#playlist-tracks * {
    text-indent: 0px;
    text-align: left;
}

div#tracklibrary {
    top: 92px;
    left: 990px;
    width: 540px;
    height: 930px;
    position: absolute;
    overflow: hidden;
}

div#alphabet {
    top: 92px;
    left: 1556px;
    width: 40px;
    height: 930px;
    position: absolute;
    margin-top: 5px;
    display: none;
}

div#filters {
    top: 92px;
    left: 1615px;
    width: 220px;
    height: 930px;
    position: absolute;
    overflow: hidden;
}

div.track {
    position: relative;
    width: 540px;
    height: 60px;
}

div.track div {
    position: relative;
    width: 390px;
    height: 22px;
    left: 70px;
    font-weight: bold !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

div.track div.icon {
    position: absolute;
    left: 21px;
    top: 12px;
    width: 32px;
    height: 34px;
    background-repeat: no-repeat;
}

div.track.audio div.icon {
    background-image: url('../img/Icon_AudioOnly.PNG');
}

div.track.video div.icon {
    background-image: url('../img/Icon_Video.png');
}

div.track div.trackname {
    top: 10px;
    color: #298DB1;
    font-size: 16px;
}

div.track div.artist {
    top: 10px;
    color: #fff;
    font-size: 12px;
}

div.track.add {
    background: url('../img/btn_track_off.png');
}

div.track.add.active {
    background: url('../img/btn_track_off_active.png');
}

div.track.added {
    background: url('../img/btn_track_on.png');
}

div.track.added.active {
    background: url('../img/btn_track_on_active.png');
}

div#tracklibrary.selection-locked div.track.add {
    background: url('../img/btn_track_locked.png');
}

div#tracklibrary.locked div.track {
    background: url('../img/btn_track_locked.png');
}

div#playlist-tracks div.track {
    background: url('../img/btn_track_delete_v2.PNG');
}

div#playlist-tracks div.track.active {
    background: url('../img/btn_track_delete_v2_active.PNG');
}

div.filter {
    width: 216px;
    height: 53px;
    margin-bottom: 0;
    background: url('../img/btn_filter_off.png');
}

div.filter.on {
    background: url('../img/btn_filter_on.png');
}

div.filter.all-video, div.filter.all {
    margin-top: 10px;
}

div.filter div.filtername {
    position: absolute;
    color: #fff;
    /*text-transform: lowercase;*/
    margin: 12px 0px 0px 8px;
    width: 200px;
    text-align: center;
}

div#alphabet div.letter {
    font-size: 26px;
    margin: 0 0 5px 10px;
    color: #278DB5;
    height: 30px;
}

div#alphabet div.letter.on {
    color: #09FCFA;
}

div#playlist-timeout {
    background: url('../img/BG_panel_overlay_v2.PNG') no-repeat;
    position: absolute;
    top: 782px;
    left: 60px;
    width: 800px;
    height: 230px;
    display: none;
    padding: 40px;
    color: #fff;
    font-family: "AkkoPro-Thin", "Helvetica Neue", Helvetica, Arial;
    font-size: 20px;
}

div#update {
    z-index: 5000;
    position: absolute;
    background: #000000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    text-align: center;
    display: table;
}

div#update-title {
    font-family: "AkkoPro-Thin", "Helvetica Neue", Helvetica, Arial;
    font-size: 20px;
    color: #ffffff;

    display: table-cell;
    vertical-align: middle;
    text-align: center;
}